h1 {
    text-align: center;
    color: #E1C699;
}

ul.nav {
    list-style-type: none;
    padding: 0;
}

li.nav-item {
    padding: 2px 0px 2px 0px;
}

a.nav-link {}

ul {
    list-style-type: square;
    color: white;
}

.item-a {
    margin: 5px;
    grid-area: header;
}

.item-b {
    grid-area: main;
    margin: 5px;
}

.item-c {
    margin: 5px;
    grid-area: sidebar;
}

.item-d {
    margin: 5px;
    text-align: center;
    grid-area: footer;
}

.copyrightName {
    display: inline-block;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    background-color: gray;
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
}

img {
    border-radius: 50%;
    border: 3px solid #000000;
}

img:hover {
    opacity: 0.5;
}

p {
    color: white;
}