<!DOCTYPE html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <p>
        <%- JSON.stringify(name) %>
    </p>
    <h1 id="name">
        <%= name %>
    </h1>
    <img src="<%=profilePicture%>" alt="A profile picutre">

</body>

</html>