<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <h1>WhaleCum to
        <%= hotelName %>!</h1>
    <p>Your roomnumber is
        <%= roomNumber %>. The room are at floor
            <%= roomFloor %>.</p>
    <table>
        <% for(let index of aRandomArray) { %>
            <tr>
                <td>
                    <%= index %>
                </td>
            </tr>
            <% } %>

    </table>
</body>

</html>